<!DOCTYPE html>
    <body>
    <h1>Welcome to NBA Draft Predictor!</h1>
    <p>Enter your player's stats below to see if they are likely to get drafted:</p>
    <form method="POST">
    <input type="text" name="text0" min="1" max="5", placeholder="Height(no shoes)", size="16">
        <input type="text" name="text1" min="1" max="5", placeholder="Height(with shoes)", size="17">
        <input type="text" name="text2" min="1" max="5", placeholder="Wingspan", size="8">
        <input type="text" name="text3" min="1" max="5", placeholder="Standing reach", size="14">
        <input type="text" name="text4" min="1" max="5", placeholder="Vertical(max)", size="13">
        <input type="text" name="text5" min="1" max="5", placeholder="Vertical(max reach)", size="19">
        <input type="text" name="text6" min="1" max="5", placeholder="Vertical(no step)", size="17">
        <input type="text" name="text7" min="1" max="5", placeholder="Vertical(no step reach)", size="23">
        <input type="text" name="text8" min="1" max="5", placeholder="Weight", size="6">
        <input type="text" name="text9" min="1" max="5", placeholder="Body fat", size="8">
        <input type="text" name="text10" min="1" max="5", placeholder="Bench", size="5">
        <input type="text" name="text11" min="1" max="5", placeholder="Agility", size="7">
        <input type="text" name="text12" min="1" max="5", placeholder="Sprint", size="6">
    <input type="submit">
    </form>
    </body>